In [178]:
import pandas as pd

dataset_df = pd.read_excel('groceries.xlsx', header=None)
dataset_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
dataset_list = dataset_df.values.tolist()
#print(dataset_list[:10])
#print(len(dataset_list))

print(dataset_list[:5])

[['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan], ['tropical fruit', 'yogurt', 'coffee', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan], ['whole milk', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan], ['pip fruit', 'yogurt', 'cream cheese ', 'meat spreads', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan], ['other vegetables', 'whole milk', 'condensed milk', 'long life bakery product', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]]

In [179]:
dataset = [item for transaction in dataset_list for item in transaction if str(item) != 'nan']
dataset[:10]

['citrus fruit',
 'semi-finished bread',
 'margarine',
 'ready soups',
 'tropical fruit',
 'yogurt',
 'coffee',
 'whole milk',
 'pip fruit',
 'yogurt']

In [66]:
for transaction in dataset_list: 
    print(transaction)
    temp = transaction[~pd.isnull(transaction)]
    print(temp)

['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

TypeError: only integer scalar arrays can be converted to a scalar index

In [181]:
dataset = []
for transaction in dataset_list:
    templist = []
    for item in transaction: 
        if str(item) != 'nan': 
            templist.append(item)
    dataset.append(templist)
print(dataset[:10])

[['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups'], ['tropical fruit', 'yogurt', 'coffee'], ['whole milk'], ['pip fruit', 'yogurt', 'cream cheese ', 'meat spreads'], ['other vegetables', 'whole milk', 'condensed milk', 'long life bakery product'], ['whole milk', 'butter', 'yogurt', 'rice', 'abrasive cleaner'], ['rolls/buns'], ['other vegetables', 'UHT-milk', 'rolls/buns', 'bottled beer', 'liquor (appetizer)'], ['pot plants'], ['whole milk', 'cereals']]

In [182]:
dataset_arr = dataset_df.to_numpy()
print(dataset_arr)

[['citrus fruit' 'semi-finished bread' 'margarine' ... nan nan nan]
 ['tropical fruit' 'yogurt' 'coffee' ... nan nan nan]
 ['whole milk' nan nan ... nan nan nan]
 ...
 ['chicken' 'citrus fruit' 'other vegetables' ... nan nan nan]
 ['semi-finished bread' 'bottled water' 'soda' ... nan nan nan]
 ['chicken' 'tropical fruit' 'other vegetables' ... nan nan nan]]

In [77]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_arr = te.fit(dataset).transform(dataset)
print(te_arr)
df = pd.DataFrame(te_arr, columns = te.columns_)
df.head()

[[False False False ... False False False]
 [False False False ... False  True False]
 [False False False ...  True False False]
 ...
 [False False False ... False  True False]
 [False False False ... False False False]
 [False False False ... False False False]]

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [149]:
from mlxtend.frequent_patterns import apriori

freq_itemsets = apriori(df, min_support = 0.045, use_colnames = True)
freq_itemsets

     support                             itemsets
0   0.052466                               (beef)
1   0.080529                       (bottled beer)
2   0.110524                      (bottled water)
3   0.064870                        (brown bread)
4   0.055414                             (butter)
5   0.077682                        (canned beer)
6   0.049619                          (chocolate)
7   0.082766                       (citrus fruit)
8   0.058058                             (coffee)
9   0.053279                               (curd)
10  0.063447                      (domestic eggs)
11  0.058973                        (frankfurter)
12  0.048094                  (frozen vegetables)
13  0.072293              (fruit/vegetable juice)
14  0.058566                          (margarine)
15  0.052364                            (napkins)
16  0.079817                         (newspapers)
17  0.193493                   (other vegetables)
18  0.088968                             (pastry)
19  0.075648                          (pip fruit)
20  0.057651                               (pork)
21  0.183935                         (rolls/buns)
22  0.108998                    (root vegetables)
23  0.093950                            (sausage)
24  0.098526                      (shopping bags)
25  0.174377                               (soda)
26  0.104931                     (tropical fruit)
27  0.071683                 (whipped/sour cream)
28  0.255516                         (whole milk)
29  0.139502                             (yogurt)
30  0.047382  (root vegetables, other vegetables)
31  0.074835       (whole milk, other vegetables)
32  0.056634             (whole milk, rolls/buns)
33  0.048907        (root vegetables, whole milk)
34  0.056024                 (yogurt, whole milk)

In [150]:
freq_itemsets_sorted = freq_itemsets.sort_values('support', ascending = False)
print('Frequent Itemsets sorted by highest Support: \n')
freq_itemsets_sorted.head(10)

Frequent Itemsets sorted by highest Support:

     support            itemsets
28  0.255516        (whole milk)
17  0.193493  (other vegetables)
21  0.183935        (rolls/buns)
25  0.174377              (soda)
29  0.139502            (yogurt)
2   0.110524     (bottled water)
22  0.108998   (root vegetables)
26  0.104931    (tropical fruit)
24  0.098526     (shopping bags)
23  0.093950           (sausage)

In [155]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(freq_itemsets, metric = 'lift', min_threshold = 1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(root vegetables),(other vegetables),0.108998,0.193493,0.047382,0.434701,2.246605,0.026291,1.426693
1,(other vegetables),(root vegetables),0.193493,0.108998,0.047382,0.244877,2.246605,0.026291,1.179941
2,(whole milk),(other vegetables),0.255516,0.193493,0.074835,0.292877,1.513634,0.025394,1.140548
3,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013
4,(whole milk),(rolls/buns),0.255516,0.183935,0.056634,0.221647,1.205032,0.009636,1.048452
5,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696
6,(root vegetables),(whole milk),0.108998,0.255516,0.048907,0.448694,1.756031,0.021056,1.350401
7,(whole milk),(root vegetables),0.255516,0.108998,0.048907,0.191405,1.756031,0.021056,1.101913
8,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132
9,(whole milk),(yogurt),0.255516,0.139502,0.056024,0.219260,1.571735,0.020379,1.102157

In [156]:
rules_sorted = rules.sort_values('lift', ascending = False)
print('Top 10 rules sorted by highest Lift: \n')
rules_sorted.head(10)

Top 10 rules sorted by highest lift:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(other vegetables),(root vegetables),0.193493,0.108998,0.047382,0.244877,2.246605,0.026291,1.179941
0,(root vegetables),(other vegetables),0.108998,0.193493,0.047382,0.434701,2.246605,0.026291,1.426693
7,(whole milk),(root vegetables),0.255516,0.108998,0.048907,0.191405,1.756031,0.021056,1.101913
6,(root vegetables),(whole milk),0.108998,0.255516,0.048907,0.448694,1.756031,0.021056,1.350401
8,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132
9,(whole milk),(yogurt),0.255516,0.139502,0.056024,0.219260,1.571735,0.020379,1.102157
3,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013
2,(whole milk),(other vegetables),0.255516,0.193493,0.074835,0.292877,1.513634,0.025394,1.140548
4,(whole milk),(rolls/buns),0.255516,0.183935,0.056634,0.221647,1.205032,0.009636,1.048452
5,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696