In [1]:
aList = [1,2,3,1,1,1,2,3,4,2,2,2,2,2,5,2,2,1]
rdd = sc.parallelize(aList)
rdd.take(5)

In [2]:
rdd.sortBy(lambda x: -x).take(5)

In [3]:
rdd.filter(lambda x: x % 2 != 0).count()

In [4]:
#rdd.takeOrdered(5, key=lambda x: -x)  OR
rdd.top(5)

In [5]:
rdd.stats()

In [6]:
rdd1 = sc.textFile("/FileStore/tables/authors.csv")
def parse(line):
  fields = line.split(",")
  return (fields[2],fields[0])
p_rdd1 = rdd1.filter(lambda x:'Country' not in x).map(parse)
p_rdd1.take(3)

In [7]:
rdd2 = sc.textFile("/FileStore/tables/books.csv")
p_rdd2 = rdd2.filter(lambda line: "Title" not in line).map(lambda line: (line.split(",")[0], line.split(",")[1]))
p_rdd2.take(3)

In [8]:
joined_rdd = p_rdd1.join(p_rdd2)
joined_rdd.map(lambda x: x[1]).groupByKey().mapValues(list).sortByKey().take(6)

In [9]:
df1 = spark.read.csv("/FileStore/tables/authors.csv", header=True)
df2 = spark.read.csv("/FileStore/tables/books.csv", header=True)
df2.show()

In [10]:
from pyspark.sql.functions import collect_set
df1.join(df2, on = "BookID").select('Author','Title').groupBy('Author').agg(collect_set('Title').alias('Titles')).show(truncate=False)

In [11]:
#word count using dataframes
import pyspark.sql.functions as f

df_words = spark.read.text("/FileStore/tables/omar.txt")
df_words.withColumn('value',f.explode(f.split(f.col('value'), ' '))).withColumnRenamed('value','Word').groupBy('Word').count().sort('count',ascending=False).show()