In [1]:
file_location = "/FileStore/tables/purchases.txt"
df = sqlContext.read.format("com.databricks.spark.csv").option("header", "false").option("inferSchema", "true").option("delimiter", "\t").load(file_location)

In [2]:
new_df = spark.read.options(inferSchema = 'True', delimiter = '\t', header = 'False')\
          .csv(file_location)
new_df.show(3)

In [3]:
df.show(3,truncate=True)

In [4]:
#rename columns
old_columns = df.schema.names
new_columns = ["Date","Time","Store_Name","Item","Sale","Payment_Type"]
for i in range(len(old_columns)):
    df = df.withColumnRenamed(old_columns[i], new_columns[i])
df.show(3)

In [5]:
rdd = df.rdd
rdd.take(2)

In [6]:
df.filter(df.Store_Name == "San Jose").select(df.Store_Name, df.Payment_Type).show(10)

In [7]:
from pyspark.sql.functions import collect_set
distinct_df = df.where(df.Store_Name == "San Jose").select(df.Store_Name,df.Payment_Type).distinct()
distinct_df.groupBy('Store_Name').agg(collect_set('Payment_Type').alias('Types')).show(truncate=False)

In [8]:
#displaying average sales by Store Name
from pyspark.sql.functions import format_number #used to display number in specific format
df.groupBy('Store_Name').agg({'Sale': 'avg'}).withColumn('avg(Sale)',format_number('avg(Sale)',2)).show(10)

In [9]:
#displaying average sales by Store Name by date
df.groupBy('Store_Name','Date').agg({'Sale': 'avg'}).withColumnRenamed('avg(Sale)','average_sale').show(10)

In [10]:
#using SQL ......total sales by Store Name
df.createOrReplaceTempView("sales")
sqlContext.sql("Select Store_Name, sum(Sale) as total_sales from sales group by Store_Name").toPandas()[:5]

In [11]:
#average sales by store - note that I have used cast to display up to 2 decimal places
sqlContext.sql("Select Store_Name, cast(avg(Sale) as decimal(15,2)) as average_sales from sales group by Store_Name").toPandas()[:5]